.cash-withdrawal-box {
    background-color: whitesmoke;
    color: black;
    height: max-content;
    display: flex;
    flex-direction: column; 
    align-items: center;
    align-content: center;
    border: 1px dotted grey;
    gap: 2rem;
    width: fit-content;
    margin: 1rem auto;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    position: absolute;
    left: 32%;
    z-index: 10;

   
}

.balance {
    
}

.balance > h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.Withdrawal-label {
    padding: 2rem 0;
}
.withdraw-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.confirmation-options {
    width: 6rem;
    padding: 0.5rem ;
    border-radius: 0.5rem;
    margin: 1rem
}