.transaction-types {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 70vh;
 gap: 5rem
}
.type-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 2rem;
    list-style-type: none;
}
.type-list > li {
    background-color: #F49C25;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-items {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.popup {
    position: absolute;
    width: 20rem;
    text-align: center;
    line-height: 2;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
     background-color: white;
     padding: 1rem;
     border: 1px solid grey;
     color:black;
     border-radius: 0.5rem;
}