.transaction-types {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 5rem;
 padding-top: 2rem;
}
.type-title {
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
}
.type-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
}
.type-list > li {
    background-color: #F49C25;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-items {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
}

.popup {
    position: absolute;
    width: 20rem;
    text-align: center;
    line-height: 2;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
     background-color: white;
     padding: 1rem;
     border: 1px solid grey;
     color:black;
     border-radius: 0.5rem;
}

@media only screen and (max-width: 900px) {
    .transaction-types {
        padding-bottom: 5rem;
       }
    
    .type-title {
        font-size: 1.8rem;
       }
    .type-list{
        gap: 2rem;
        margin: 0 2rem;
    }
    .type-list > li {
        width: 13rem;
        height: 13rem;       
    }
    .type-items {
        font-size: 1.3rem;
    }
    h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .type-title {
        font-size: 1.5rem;
       }
    .type-list{
        gap: 1.5rem;
        margin: 0 1rem;
    }
    .type-list > li {
        width: 9rem;
        height: 9rem;       
    }
    .type-items {
        font-size: 1.3rem;
    }
    h1 {
        font-size: 1.5rem;
    }
}
    